<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="skyblue">
    <form action="/resume" method="get" enctype="multipart/form-data">
        <table border=0 cellpadding="10px" cellspacing="20px" style="margin-top: 10%; background-color: whitesmoke; border: double; border-color: black; border-radius: 10px;" align="center">
            <tr><td>Background Colour</td><td><select name="bgc"><option value="skyblue">skyblue</option>
                <option value="whitesmoke">whitesmoke</option>
                <option value="blue">blue</option>
                <option value="black">black</option>
                <option value="green">green</option>
                <option value="yellow">yellow</option>
                <option value="cyan">cyan</option>
                <option value="grey">grey</option>
                <option value="lightgreen">lightgreen</option>
                <option value="red">red</option>
                <option value="skyblue">skyblue</option>
                <option value="royalblue">royalblue</option>
            </select></td></tr>
            <tr><td>Resume Colour</td><td><select name="rc"><option value="whitesmoke">whitesmoke</option>
                <option value="blue">blue</option>
                <option value="black">black</option>
                <option value="green">green</option>
                <option value="yellow">yellow</option>
                <option value="cyan">cyan</option>
                <option value="red">red</option>
                <option value="lightgreen">lightgreen</option>
                <option value="skyblue">skyblue</option>
                <option value="royalblue">royalblue</option>
            </select></td></tr>
            <tr><td>Border Style</td><td><select name="borderstyle"><option value="double">double</option>
                <option value="none">none</option>
                <option value="dotted">dotted</option>
                <option value="dashed">dashed</option>
                <option value="solid">solid</option>
                <option value="groove">grooove</option>
                <option value="ridge">ridge</option>
                <option value="inset">inset</option>
                <option value="outset">outset</option>
            </select></td></tr>
            <tr><td>Font Style</td><td><select name="font"><option value="Arial">Arial</option>
                <option value="Lucida Console">Lucida Console</option>
                <option value="courier">courier</option>
                <option value="Times">Times</option>
            </select></td></tr>
            <tr><td>Generic Font</td><td><select name="gfont"><option value="fantasy">fantasy</option>
                <option value="Serif">Serif</option>
                <option value="Sans-serif">Sans-serif</option>
                <option value="Monospace">Monospace</option>
                <option value="Cursive">Cursive</option>
            </select></td></tr>
            <tr><td colspan="2" align="right"><input type="submit"></td></tr>
            </table>
    </form>
</body>
</html>