<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="skyblue">
        <form action="/login/" method="get">
            <table border=0 cellpadding="10px" cellspacing="20px" style="margin-top: 10%; background-color: whitesmoke; border: double; border-color: black; border-radius: 10px;" align="center">
                <tr><td>Username</td><td><input type="text" name="uname" required></td></tr>
                <tr><td>Email</td><td><input type="mail" name="mail" required></td></tr>
                <tr><td>Phone</td><td><input type="number" name="phone" required></td></tr>
                <tr><td>Password</td><td><input type="password" name="pwd" required></td></tr>
                <tr><td colspan="2" align="right"><input type="submit" value="Sign Up"></td></tr>
            </table>
        </form>
</body>
</html>